.formControl {
  display: inline-block;
  margin-bottom: 5px;
  textarea{
    resize: none;
  }
  &.error{
    input, 
    textarea{
      border: 2px solid red;
    }
    span{
      color: red;
      display: block;
      margin-bottom: 10px;
    }
  }
}
.formSummaryError{
  border: 1px solid red;
  padding: 5px;
  color: darkred;
  margin-bottom: 10px;
}
.btnLogin{
  button{
    background-color: #00c9b7;
    color: #fff;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    &:hover, &:focus{
      background-color: #02ff74;
      color: #000;
    }
  }
}