.nav{
  grid-area: n;
  background: #496a7c;
}

.item{
  list-style-type: none;
  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    &.activeLink{
      color: #29ff0d;
    }
  }
} 

