.nav{
  grid-area: n;
  background: burlywood;
  min-height: 100vh;
}

.item{
  list-style-type: none;
  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    &.activeLink{
      color: red;
    }
  }
} 

