.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogItems{
  margin-bottom: 20px;
} 
.dialog a{
  color: #000;
  text-decoration: none;
  &:hover{
    color: #29ff0d;
  }
}
.messages{
  padding: 10px;
  .message{
    color: #fff;
  }
}
.addMessage{
  width: 100%;
  height: 35px;
  color: #fff;
  background: #496a7c;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .2s;
  &:hover{
    background: #00c9b7;
  }
}